#cfbtitle, 
#cfbpage_url, 
#cfbborder, 
#cfbwidth,
#cfbheight,
#cfbcolor_scheme,
#cfbshow_faces,
#cfbstream,
#cfbheader,
#cfbsmheader,
#cfbsmlang
{
    font-size: 18px;
}
#title_help, 
#page_url_help, 
#border_help, 
#width_help,
#height_help,
#color_scheme_help,
#show_faces_help,
#stream_help,
#header_help,
#cfbsmheader_help,
#cfbsmlang_help{
    display: none;
}