.rpwwt-widget ul { list-style: outside none none; margin-left: 0; margin-right: 0; padding-left: 0; padding-right: 0; }
.rpwwt-widget ul li { overflow: hidden; margin: 0 0 1.5em; }
.rpwwt-widget ul li:last-child { margin: 0; }
.rpwwt-widget ul li img { display: inline; float: left; margin: .3em .75em .75em 0; }
#rpwwt-recent-posts-widget-with-thumbnails-2 img { width: 75px; height: 75px; }
#rpwwt-recent-posts-widget-with-thumbnails-4 img { width: 90px; height: 75px; }
#rpwwt-recent-posts-widget-with-thumbnails-5 img { width: 90px; height: 75px; }
#rpwwt-recent-posts-widget-with-thumbnails-6 img { width: 90px; height: 75px; }
#rpwwt-recent-posts-widget-with-thumbnails-7 img { width: 90px; height: 75px; }
#rpwwt-recent-posts-widget-with-thumbnails-8 img { width: 100px; height: 90px; }
#rpwwt-recent-posts-widget-with-thumbnails-9 img { width: 100px; height: 90px; }
#rpwwt-recent-posts-widget-with-thumbnails-10 img { width: 100px; height: 90px; }
